.flatshadow {
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.08);
  -o-box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.08);
}
pre {
  background: #fafafa;
}
html {
  background: #705097;
}
body {
  background: url(../images/noise.png) #705097;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4e494e;
}
hr {
  background-color: #e8e6e8;
}
a {
  color: #705097;
}
a:hover {
  color: #4e2e75;
}
input[type=text],
input.input-text,
textarea.input-text,
textarea#comment,
input[type=email],
input[type=tel],
textarea {
  border-color: #e8e6e8;
}
.form-row label {
  color: #b5aeb5;
}
.required {
  color: #d25f4f;
}
a.selectBox-dropdown {
  background: #fcfbfc;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcfbfc), to(#ebeaeb));
  background: -webkit-linear-gradient(#fcfbfc, #ebeaeb);
  background: -moz-linear-gradient(center top, #fcfbfc 0%, #ebeaeb 100%);
  background: -moz-gradient(center top, #fcfbfc 0%, #ebeaeb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#fcfbfc,endColorstr=#ebeaeb);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#fcfbfc, endColorstr=#ebeaeb)";
  color: #605960;
  text-shadow: 0 1px 0 #ffffff;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75), inset 0 2px 0 #ffffff, inset 0 -2px 0 #dbdadb;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75), inset 0 2px 0 #ffffff, inset 0 -2px 0 #dbdadb;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75), inset 0 2px 0 #ffffff, inset 0 -2px 0 #dbdadb;
}
a.selectBox-dropdown .selectBox-arrow {
  border-left-color: #d8d8d8;
}
a.selectBox-dropdown:hover {
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ebeaeb));
  background: -webkit-linear-gradient(#ffffff, #ebeaeb);
  background: -moz-linear-gradient(center top, #ffffff 0%, #ebeaeb 100%);
  background: -moz-gradient(center top, #ffffff 0%, #ebeaeb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff,endColorstr=#ebeaeb);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff, endColorstr=#ebeaeb)";
  color: #3e373e;
}
.selectBox-dropdown-menu a {
  color: #d7d0d7;
}
.selectBox-options li a {
  color: #605960;
}
.selectBox-options li.selectBox-hover a,
.selectBox-options li.selectBox-selected a {
  background: #827b82;
}
#navigation .cart-button:before,
#navigation .cart-button:after {
  background-color: #c6bfc6;
}
#navigation .cart-button span:before {
  background-color: #c6bfc6;
}
#navigation .cart-button span:after {
  border-color: #e8e1e8;
}
.nav li a {
  color: #756f75;
}
#header .nav-wrap {
  background-color: #fcfbfc;
}
#header .nav-wrap hgroup {
  background: #fcfbfc;
}
#header .nav-wrap hgroup .nav-toggle a {
  border-color: #e8e6e8;
}
#header .site-description {
  color: #9b959b;
}
/* 2.4 Content */
#content {
  background-color: #fcfbfc;
}
#slides.loaded {
  background: #fcfbfc;
}
#slides .slides .slide-content {
  background: #fcfbfc;
}
#slides .flex-control-nav li a:hover,
#slides .flex-control-nav li a.active {
  background: #beb6be;
  background: -webkit-gradient(linear, left top, left bottom, from(#beb6be), to(#cfc7cf));
  background: -webkit-linear-gradient(#beb6be, #cfc7cf);
  background: -moz-linear-gradient(center top, #beb6be 0%, #cfc7cf 100%);
  background: -moz-gradient(center top, #beb6be 0%, #cfc7cf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#beb6be,endColorstr=#cfc7cf);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#beb6be, endColorstr=#cfc7cf)";
}
.tweet {
  border-bottom-color: #e8e6e8;
  border-top-color: #ffffff;
}
.tweet a.time {
  color: #b5aeb5;
}
#footer {
  color: #fcfbfc;
  text-shadow: none;
}
#footer .col-left a,
#footer .col-right a {
  color: #ffffff;
}
#footer-widgets {
  background: #fcfbfc;
}
#footer-widgets ul.store-info {
  border-bottom-color: #e8e6e8;
  background-color: #fcfbfc;
}
#footer-widgets ul.store-info li.phone a,
#footer-widgets ul.store-info li.email a,
#footer-widgets ul.store-info li.twitter a {
  color: #827b82;
}
#footer-widgets ul.store-info li.phone a:before,
#footer-widgets ul.store-info li.email a:before,
#footer-widgets ul.store-info li.twitter a:before {
  color: #705097;
}
#breadcrumbs {
  color: #c6bfc6;
  border-bottom-color: #e8e6e8;
  border-top-color: #ffffff;
}
#breadcrumbs a {
  color: #827b82;
}
.archive-header {
  border-bottom-color: #e8e6e8;
}
.post,
.type-page {
  border-bottom-color: #e8e6e8;
}
.post p.form-row:first-child:first-line,
.type-page p.form-row:first-child:first-line {
  color: #b5aeb5;
}
.post .post-meta ul,
.type-page .post-meta ul {
  color: #a49da4;
}
.post .post-meta ul li,
.type-page .post-meta ul li {
  border-right-color: #d7d5d7;
}
.post .post-meta ul li a,
.type-page .post-meta ul li a {
  color: #938c93;
}
.post .post-meta ul li.iconic:before,
.type-page .post-meta ul li.iconic:before {
  color: #d7d0d7;
}
.post .post-more a,
.type-page .post-more a {
  color: #a49da4;
}
.post .post-more .iconic:before,
.type-page .post-more .iconic:before {
  color: #d7d0d7;
}
.post img.woo-image {
  border-top-color: #e8e6e8 !important;
}
.entry ul li:before,
#tab-description ul li:before {
  color: #d7d0d7;
}
.entry blockquote:before,
#tab-description blockquote:before {
  color: #d7d0d7;
}
#post-author {
  border-bottom-color: #e8e6e8;
  background: #f7f7f7;
}
.entry table {
  border-color: #e8e6e8;
}
.entry table tr.alt-table-row td {
  background: #f7f6f7;
}
.entry table th {
  border-top-color: #e8e6e8;
  border-bottom-color: #e8e6e8;
  background: #fcfbfc;
  color: #605960;
}
.entry table td {
  border-top-color: #e8e6e8;
  border-bottom-color: #e8e6e8;
  background: #f2f1f2;
}
#connect {
  border-bottom-color: #e8e6e8;
  background: #f7f7f7;
}
#connect .related-posts ul li:before {
  color: #d7d0d7;
}
.home #portfolio header.block {
  border-bottom-color: #e8e6e8;
  border-top-color: #ffffff;
}
.home #portfolio ul li .inner {
  border-right-color: #e8e6e8;
  border-bottom-color: #e8e6e8;
}
.home #portfolio ul li .inner a {
  background: #705097;
  background: #9272b9;
  background: -webkit-gradient(linear, left top, left bottom, from(#9272b9), to(#705097));
  background: -webkit-linear-gradient(#9272b9, #705097);
  background: -moz-linear-gradient(center top, #9272b9 0%, #705097 100%);
  background: -moz-gradient(center top, #9272b9 0%, #705097 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#9272b9,endColorstr=#705097);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#9272b9, endColorstr=#705097)";
  border-color: #705097;
  border-bottom-color: #4e2e75;
  -webkit-box-shadow: 0 1px 0 #5f3f86, 0 1px 2px rgba(0, 0, 0, 0.9);
}
.home #portfolio ul li .inner a:before {
  border-color: #5f3f86;
  border-bottom-color: #a383ca;
}
#portfolio-gallery .has-filtering .port-tags {
  background: #fcfbfc;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcfbfc), to(#ebeaeb));
  background: -webkit-linear-gradient(#fcfbfc, #ebeaeb);
  background: -moz-linear-gradient(center top, #fcfbfc 0%, #ebeaeb 100%);
  background: -moz-gradient(center top, #fcfbfc 0%, #ebeaeb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#fcfbfc,endColorstr=#ebeaeb);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#fcfbfc, endColorstr=#ebeaeb)";
  color: #605960;
  text-shadow: 0 1px 0 #ffffff;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75), inset 0 2px 0 #ffffff, inset 0 -2px 0 #dbdadb;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75), inset 0 2px 0 #ffffff, inset 0 -2px 0 #dbdadb;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75), inset 0 2px 0 #ffffff, inset 0 -2px 0 #dbdadb;
}
#portfolio-gallery .has-filtering .port-tags a {
  border-right-color: #dbdadb;
  border-left-color: rgba(255, 255, 255, 0.3);
}
#portfolio-gallery .has-filtering .port-tags a:hover,
#portfolio-gallery .has-filtering .port-tags a.current {
  background: #827b82;
  background: -webkit-gradient(linear, left top, left bottom, from(#827b82), to(#716a71));
  background: -webkit-linear-gradient(#827b82, #716a71);
  background: -moz-linear-gradient(center top, #827b82 0%, #716a71 100%);
  background: -moz-gradient(center top, #827b82 0%, #716a71 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#827b82,endColorstr=#716a71);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#827b82, endColorstr=#716a71)";
  text-shadow: 0 1px 0 #605960;
  border-right: 1px solid #4f484f;
  border-left: 1px solid #827b82;
}
#portfolio-gallery .has-filtering .port-tags a:first-child {
  border-left: 0;
}
#portfolio-gallery .has-filtering .port-tags a:last-child {
  border-right: 0;
}
.portfolio-items .portfolio-item a.item {
  background: #705097;
  background: #9272b9;
  background: -webkit-gradient(linear, left top, left bottom, from(#9272b9), to(#705097));
  background: -webkit-linear-gradient(#9272b9, #705097);
  background: -moz-linear-gradient(center top, #9272b9 0%, #705097 100%);
  background: -moz-gradient(center top, #9272b9 0%, #705097 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#9272b9,endColorstr=#705097);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#9272b9, endColorstr=#705097)";
  border: 1px solid #705097;
  border-bottom: 1px solid #4e2e75;
  -webkit-box-shadow: 0 1px 0 #5f3f86, 0 1px 2px rgba(0, 0, 0, 0.9);
}
.portfolio-items .portfolio-item a.item:before {
  border-color: #5f3f86;
  border-bottom-color: #a383ca;
}
.portfolio-items .portfolio-item p.category {
  color: #b5aeb5;
}
.single-portfolio .post #post-entries {
  border-top-color: #e8e6e8;
}
.widget {
  color: #b5aeb5;
  border-bottom-color: #e8e6e8;
  background: #f7f7f7;
  filter: none;
  -ms-filter: none;
}
.widget a {
  color: #827b82;
  font-weight: bold;
}
.widget a:hover {
  color: #605960;
}
.searchform,
#searchform {
  border: 1px solid #d4d1d4;
  box-shadow: 0 1px 0 0 #fcfbfc;
  -webkit-box-shadow: 0 1px 0 0 #fcfbfc;
  -moz-box-shadow: 0 1px 0 0 #fcfbfc;
  -o-box-shadow: 0 1px 0 0 #fcfbfc;
  background: #fcfbfc;
}
.searchform:before,
#searchform:before {
  color: #b5aeb5;
}
.searchform input.s,
#searchform input.s,
.searchform input#s,
#searchform input#s {
  color: #827b82;
}
.widget_woo_flickr a img {
  border: 1px solid #e8e6e8;
}
.widget_woo_flickr a:hover img {
  border-color: #cfcccf;
}
#wp-calendar th,
#wp-calendar td {
  background: #e1e1e1;
}
#wp-calendar td {
  color: #9b959b;
}
.widget_woo_blogauthorinfo .avatar {
  border-color: #e8e6e8;
}
#tabs ul.wooTabs li a.selected,
#tabs ul.wooTabs li a:hover {
  background: #fcfbfc;
  border-color: #e8e6e8;
}
#tabs .inside {
  background: #fcfbfc;
}
#tabs .inside #tab-tags a {
  background: #ededed;
}
#tabs .inside #tab-tags a:hover {
  background: #e1e1e1;
}
#tabs .inside li a {
  color: #827b82;
}
#comments {
  border-bottom-color: #e8e6e8;
  background: #f7f7f7;
  border-top-color: #e8e6e8;
}
#comments .comment .comment-head:before {
  color: #b5aeb5;
}
#comments .comment .date,
#comments .comment .edit,
#comments .comment .perma {
  color: #b5aeb5;
  border-right-color: #d7d5d7;
}
#comments .comment .date a,
#comments .comment .edit a,
#comments .comment .perma a {
  color: #827b82;
}
#respond label {
  color: #9b959b;
}
#archives .archives_list {
  border-left-color: #e8e6e8;
}
#archives .archives_list .date {
  color: #9b959b;
}
#archives .archives_list .comments a {
  color: #a7a2a7;
}
h3.archive_year {
  color: #827b82;
}
.page-template-template-contact-php .location-twitter {
  border-bottom-color: #e8e6e8;
}
.page-template-template-contact-php .location-twitter .contact-social #twitter ul li a.time {
  color: #a7a2a7;
}
.page-template-template-contact-php .location-twitter .contact-social #connect {
  border-top-color: #e8e6e8;
}
.image-gallery-item img {
  border-color: #e1e1e1;
  background-color: #fafafa;
}
.image-gallery-item img:hover {
  border: 1px solid #c7c7c7;
}
p.demo_store {
  background-color: #6e9ecd;
}
a.remove {
  background-color: #d25f4f;
}
.quantity .plus,
.quantity .minus {
  border-color: #e8e6e8;
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#fafafa));
  background: -webkit-linear-gradient(#ffffff, #fafafa);
  background: -moz-linear-gradient(center top, #ffffff 0%, #fafafa 100%);
  background: -moz-gradient(center top, #ffffff 0%, #fafafa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff,endColorstr=#fafafa);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff, endColorstr=#fafafa)";
  color: #827b82;
}
.quantity .plus:hover,
.quantity .minus:hover {
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
  background: -webkit-linear-gradient(#ffffff, #ffffff);
  background: -moz-linear-gradient(center top, #ffffff 0%, #ffffff 100%);
  background: -moz-gradient(center top, #ffffff 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff,endColorstr=#ffffff);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff, endColorstr=#ffffff)";
}
.woocommerce_message,
.info,
.woocommerce_error,
.woocommerce-message,
.woocommerce-error {
  border-color: #e8e6e8;
  background: #ffffff;
}
.woocommerce_message {
  border-top-color: #b8cf4d;
}
.woocommerce_message:before {
  color: #b8cf4d;
}
.info {
  border-top-color: #6e9ecd;
}
.info:before {
  color: #6e9ecd;
}
.woocommerce_error {
  border-top-color: #d25f4f;
}
.woocommerce_error:before {
  color: #d25f4f;
}
ul.products {
  border-top-color: #e8e6e8;
}
ul.products li.product .inner {
  border-right-color: #e8e6e8;
  border-bottom-color: #e8e6e8;
}
ul.products li.product .price {
  color: #b5aeb5;
}
.pagination-wrap {
  border-bottom-color: #e8e6e8;
}
.single-product .product .price {
  color: #b5aeb5;
}
.single-product .product .price ins {
  color: #705097;
}
.single-product .product .product_meta {
  color: #b5aeb5;
}
.single-product .product .product_meta .sku a,
.single-product .product .product_meta .posted_in a,
.single-product .product .product_meta .tagged_as a {
  color: #827b82;
}
.single-product .product .product_meta .sku:before,
.single-product .product .product_meta .posted_in:before,
.single-product .product .product_meta .tagged_as:before {
  color: #d7d0d7;
}
.single-product table.variations tr td .reset_variations:before {
  color: #b5aeb5;
}
.images .thumbnails {
  border-bottom-color: #e8e6e8;
}
.images .thumbnails a {
  border-color: #e8e6e8;
}
.woocommerce_tabs,
.woocommerce-tabs {
  clear: both;
}
.woocommerce_tabs ul.tabs,
.woocommerce-tabs ul.tabs {
  background: #fcfbfc;
}
.woocommerce_tabs ul.tabs li,
.woocommerce-tabs ul.tabs li {
  border-color: #e8e6e8;
  background-color: #e8e6e8;
}
.woocommerce_tabs ul.tabs li a,
.woocommerce-tabs ul.tabs li a {
  color: #827b82;
}
.woocommerce_tabs ul.tabs li a:hover,
.woocommerce-tabs ul.tabs li a:hover {
  color: #605960;
}
.woocommerce_tabs ul.tabs li.active,
.woocommerce-tabs ul.tabs li.active {
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#fcfbfc));
  background: -webkit-linear-gradient(#ffffff, #fcfbfc);
  background: -moz-linear-gradient(center top, #ffffff 0%, #fcfbfc 100%);
  background: -moz-gradient(center top, #ffffff 0%, #fcfbfc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff,endColorstr=#fcfbfc);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff, endColorstr=#fcfbfc)";
  border-bottom-color: #fcfbfc;
}
.woocommerce_tabs ul.tabs li.active a,
.woocommerce-tabs ul.tabs li.active a {
  color: #605960;
}
.woocommerce_tabs ul.tabs li.active:before,
.woocommerce-tabs ul.tabs li.active:before {
  box-shadow: 2px 2px 0 0 #fcfbfc;
  -webkit-box-shadow: 2px 2px 0 0 #fcfbfc;
  -moz-box-shadow: 2px 2px 0 0 #fcfbfc;
  -o-box-shadow: 2px 2px 0 0 #fcfbfc;
}
.woocommerce_tabs ul.tabs li.active:after,
.woocommerce-tabs ul.tabs li.active:after {
  box-shadow: -2px 2px 0 0 #fcfbfc;
  -webkit-box-shadow: -2px 2px 0 0 #fcfbfc;
  -moz-box-shadow: -2px 2px 0 0 #fcfbfc;
  -o-box-shadow: -2px 2px 0 0 #fcfbfc;
}
.woocommerce_tabs ul.tabs li:before,
.woocommerce-tabs ul.tabs li:before,
.woocommerce_tabs ul.tabs li:after,
.woocommerce-tabs ul.tabs li:after {
  border-color: #e8e6e8;
}
.woocommerce_tabs ul.tabs li:before,
.woocommerce-tabs ul.tabs li:before {
  box-shadow: 2px 2px 0 0 #e8e6e8;
  -webkit-box-shadow: 2px 2px 0 0 #e8e6e8;
  -moz-box-shadow: 2px 2px 0 0 #e8e6e8;
  -o-box-shadow: 2px 2px 0 0 #e8e6e8;
}
.woocommerce_tabs ul.tabs li:after,
.woocommerce-tabs ul.tabs li:after {
  box-shadow: -2px 2px 0 0 #e8e6e8;
  -webkit-box-shadow: -2px 2px 0 0 #e8e6e8;
  -moz-box-shadow: -2px 2px 0 0 #e8e6e8;
  -o-box-shadow: -2px 2px 0 0 #e8e6e8;
  box-shadow: -2px 2px #e8e6e8;
}
.woocommerce_tabs ul.tabs:before,
.woocommerce-tabs ul.tabs:before {
  border-bottom-color: #e8e6e8;
}
.woocommerce_tabs .panel,
.woocommerce-tabs .panel {
  background-color: #fcfbfc;
  border-bottom-color: #e8e6e8;
}
.cart-collaterals .cross-sells ul.products li.last .inner {
  border-right-color: #e8e6e8;
}
.cart-collaterals .cross-sells ul.products li.first .inner {
  border-left-color: #e8e6e8;
}
.woocommerce-checkout #order_review {
  border-color: #e8e6e8;
  background: #ffffff;
}
.woocommerce-checkout #order_review ul.payment_methods {
  border-bottom-color: #e8e6e8;
  padding-bottom: 1.54em;
}
.woocommerce-checkout #order_review ul.payment_methods li .payment_box {
  border-color: #e8e6e8;
  background: #fcfbfc;
}
.widget ul.product_list_widget li img,
.widget ul.cart_list li img {
  border: 1px solid #d7d5d7;
  box-shadow: 0 1px 0 0 #fcfbfc;
  -webkit-box-shadow: 0 1px 0 0 #fcfbfc;
  -moz-box-shadow: 0 1px 0 0 #fcfbfc;
  -o-box-shadow: 0 1px 0 0 #fcfbfc;
}
.widget_price_filter .ui-slider .ui-slider-handle {
  border: 1px solid #5f3f86;
}
.widget_price_filter .ui-slider .ui-slider-range {
  background-image: linear-gradient(left, #705097 0%, #a383ca 100%);
  background-image: -o-linear-gradient(left, #705097 0%, #a383ca 100%);
  background-image: -moz-linear-gradient(left, #705097 0%, #a383ca 100%);
  background-image: -webkit-linear-gradient(left, #705097 0%, #a383ca 100%);
  background-image: -ms-linear-gradient(left, #705097 0%, #a383ca 100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #705097), color-stop(1, #a383ca));
  border: 1px solid #5f3f86;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 2px #a7a6a7;
}
.widget_price_filter .price_slider_wrapper .ui-widget-content {
  background: #dad9da;
  background: -webkit-gradient(linear, left top, left bottom, from(#dad9da), to(#ebeaeb));
  background: -webkit-linear-gradient(#dad9da, #ebeaeb);
  background: -moz-linear-gradient(center top, #dad9da 0%, #ebeaeb 100%);
  background: -moz-gradient(center top, #dad9da 0%, #ebeaeb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#dad9da,endColorstr=#ebeaeb);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#dad9da, endColorstr=#ebeaeb)";
  border: 1px solid #938c93;
  -webkit-box-shadow: inset 0 1px 3px 0 #b8b7b8, 0 1px 0 0 #ffffff;
}
#sidebar .widget_shopping_cart {
  background: #827b82;
  border-bottom-color: #605960;
}
#sidebar .widget_shopping_cart h3 {
  color: #fcfbfc;
}
#sidebar .widget_shopping_cart li a {
  color: #ebeaeb;
}
#sidebar .widget_shopping_cart li a:hover {
  color: #fcfbfc;
}
#sidebar .widget_shopping_cart ul.cart_list li img {
  border-color: #605960;
  box-shadow: 0 1px 0 0 #938c93;
  -webkit-box-shadow: 0 1px 0 0 #938c93;
  -moz-box-shadow: 0 1px 0 0 #938c93;
  -o-box-shadow: 0 1px 0 0 #938c93;
}
#sidebar .widget_shopping_cart p.total .amount {
  color: #d7d0d7;
}
.shortcode-sale {
  background: #d25f4f;
}
a.button,
#commentform #submit,
.submit,
input[type=submit],
input.button,
button.button {
  background: #fcfbfc;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcfbfc), to(#ebeaeb));
  background: -webkit-linear-gradient(#fcfbfc, #ebeaeb);
  background: -moz-linear-gradient(center top, #fcfbfc 0%, #ebeaeb 100%);
  background: -moz-gradient(center top, #fcfbfc 0%, #ebeaeb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#fcfbfc,endColorstr=#ebeaeb);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#fcfbfc, endColorstr=#ebeaeb)";
  color: #605960;
  text-shadow: 0 1px 0 #ffffff;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75), inset 0 2px 0 #ffffff, inset 0 -2px 0 #dbdadb;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75), inset 0 2px 0 #ffffff, inset 0 -2px 0 #dbdadb;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75), inset 0 2px 0 #ffffff, inset 0 -2px 0 #dbdadb;
}
a.button:hover,
#commentform #submit:hover,
.submit:hover,
input[type=submit]:hover,
input.button:hover,
button.button:hover {
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ebeaeb));
  background: -webkit-linear-gradient(#ffffff, #ebeaeb);
  background: -moz-linear-gradient(center top, #ffffff 0%, #ebeaeb 100%);
  background: -moz-gradient(center top, #ffffff 0%, #ebeaeb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff,endColorstr=#ebeaeb);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff, endColorstr=#ebeaeb)";
  color: #3e373e;
}
a.button.alt,
#commentform #submit.alt,
.submit.alt,
input[type=submit].alt,
input.button.alt,
button.button.alt,
a.button.add_to_cart_button,
#commentform #submit.add_to_cart_button,
.submit.add_to_cart_button,
input[type=submit].add_to_cart_button,
input.button.add_to_cart_button,
button.button.add_to_cart_button {
  background: #4f484f;
  background: -moz-linear-gradient(top, #4f484f 0%, #3f383f 50%, #2d262d 51%, #1c151c 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4f484f), color-stop(50%, #3f383f), color-stop(51%, #2d262d), color-stop(100%, #1c151c));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #4f484f 0%, #3f383f 50%, #2d262d 51%, #1c151c 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #4f484f 0%, #3f383f 50%, #2d262d 51%, #1c151c 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #4f484f 0%, #3f383f 50%, #2d262d 51%, #1c151c 100%);
  /* IE10+ */

  background: linear-gradient(top, #4f484f 0%, #3f383f 50%, #2d262d 51%, #1c151c 100%);
  /* W3C */

  color: #ebeaeb;
  text-shadow: 0 1px 0 #000000;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), inset 0 2px 0 #5f585f, inset 0 -2px 0 #0b040b;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), inset 0 2px 0 #5f585f, inset 0 -2px 0 #0b040b;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), inset 0 2px 0 #5f585f, inset 0 -2px 0 #0b040b;
}
a.button.alt:hover,
#commentform #submit.alt:hover,
.submit.alt:hover,
input[type=submit].alt:hover,
input.button.alt:hover,
button.button.alt:hover,
a.button.add_to_cart_button:hover,
#commentform #submit.add_to_cart_button:hover,
.submit.add_to_cart_button:hover,
input[type=submit].add_to_cart_button:hover,
input.button.add_to_cart_button:hover,
button.button.add_to_cart_button:hover {
  color: #ffffff;
}
.ie6 .button,
.ie6 .button:visited {
  color: #827b82 !important;
}
.ie6 .reply a {
  color: #827b82 !important;
}
@media only screen and (min-width: 768px) {
  #top .nav a:hover {
    background: #fcfbfc;
  }
  #top .nav li {
    position: relative;
  }
  #top .nav li.current_page_item a,
  #top .nav li.current_page_parent a,
  #top .nav li.current-menu-ancestor a,
  #top .nav li.current-cat a,
  #top .nav li.li.current-menu-item a,
  #top .nav li.sfHover a {
    background: #fcfbfc;
  }
  #top .nav li ul li.parent a:after {
    border-color: transparent transparent transparent #705097;
  }
  #navigation .cart-button {
    background: #fcfbfc;
  }
  #navigation .nav li.parent > a:after {
    color: #c6bfc6;
  }
  #navigation .nav li.parent > a:hover:after {
    color: #827b82;
  }
  #navigation .nav li.parent:hover a:after {
    color: #827b82;
  }
  #navigation .nav li ul {
    background: #efeeef;
  }
  #navigation .nav li ul li a:hover {
    color: #3e373e;
  }
  #main {
    border-top-color: #ffffff;
    border-right-color: #e8e6e8;
  }
  #sidebar {
    background: #f7f6f7;
  }
  .layout-right-content #main {
    border-left-color: #e8e6e8;
  }
  .home .tweet:before {
    border-top-color: #ffffff;
    background-color: #fcfbfc;
  }
  .home #portfolio ul {
    border-bottom-color: #e8e6e8;
  }
  ul.products li.product:hover .inner:before {
    background: #f7f6f7;
  }
  ul.products li.product:nth-child(2n) .inner {
    border-right-color: #e8e6e8;
  }
  #comments li .comment-entry,
  #comments li .comment-text {
    background: #fcfbfc;
    border-color: #e8e6e8;
  }
}
